.top-header {
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  position: sticky;
  top: 0;
  gap: 2rem;
  z-index: 1;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Search */
.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  background: rgba(0, 0, 0, 0.144);
  border-radius: 12px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  color: #000000;
  font-size: 14px;
  width: 200px;
}

/* Icons */
.icon-btn {
  background: rgba(0, 0, 0, 0.08);
  border: none;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  color: #0f172a;
  position: relative;
}

.icon-btn:hover {
  background: #0f172a;
  color: #ffffff;
}

/* Bell indicator when notifications panel is open */
.icon-btn.active {
  background: #0f172a8e; /* light blue overlay */
  color:white; /* change icon color */
}


.badge {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  background: #22c55e;
  border-radius: 50%;
}



/* Notification wrapper */
.notif-wrapper {
  position: relative;
}

/* Panel container */
.notif-panel {
  position: absolute;
  top: 52px; /* below header */
  right: 0;
  background: white;
  border-radius: 14px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.08);
  overflow: hidden;
  animation: dropdown 0.15s ease-out;
  z-index: 999;
  width: 18rem;
}

/* Header of panel */
.notif-header {
  padding: 14px 16px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.349);
  color: #000000;
}

/* Notification list */
.notif-list {
  max-height: 320px;
  overflow-y: auto;
}

.notif-item {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(255,255,255,0.04);
  transition: 0.15s ease;
}

.notif-item:hover {
  background: rgba(255,255,255,0.05);
}

.notif-item b {
  display: block;
  font-size: 13px;
}

.notif-item p {
  font-size: 12px;
  color: #000000;
  margin-top: 2px;
}

/* Dropdown animation */
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

